<!DOCTYPE HTML>
<html>

<head>
    <title>Promociones</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>	

<body>
	<div class="container">
		<h1>Promociones</h1>
	</div>
	<br><br>
	<div class="container">
		<div class = "row">
			<div class="col-md-3">
				<div class="thumb">
					<a class="hover-img" href="#">
						<img src="img/400x300.png" alt="Image Alternative text" title="the journey home" />
					</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class = "row">
					<label>
						Para quienes buscan no solo un lugar paradisiacoaco en su proximo viaje, 
						sino tambien un destino rico en historia y cultura, el archipielago de Cuba es la mejor opcion. 
						Haz como gran cantidad de turistas en todo el mundo que eligen este pais del caribe.
					</label>
				</div>
				<br><br>
				<div class = "row">
					<div class="col-md-3">
						<h4>
							Creado el 
						</h4>
						<label>
							02/03/2017
						</label>
					</div>	
					<div class="col-md-3">
						<h4>
							Inicia el 
						</h4>
						<label>
							02/03/2017
						</label>
					</div>
					<div class="col-md-3">
						<h4>
							Finaliza el 
						</h4>
						<label>
							02/03/2017
						</label>
					</div>
				</div>
				<div class = "row">
					<div class="col-md-3 col-md-offset-9">
						<a href="#" class="btn btn-primary mb20"><i class="fa fa-pencil"></i>Modificar</a>
					</div>	
				</div>
			</div>
		</div>
		<hr>
		
		<div class = "row">
			<div class="col-md-3">
				<div class="thumb">
					<a class="hover-img" href="#">
						<img src="img/400x300.png" alt="Image Alternative text" title="the journey home" />
					</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class = "row">
					<label>
						Para quienes buscan no solo un lugar paradisiacoaco en su proximo viaje, 
						sino tambien un destino rico en historia y cultura, el archipielago de Cuba es la mejor opcion. 
						Haz como gran cantidad de turistas en todo el mundo que eligen este pais del caribe.
					</label>
				</div>
				<br><br>
				<div class = "row">
					<div class="col-md-3">
						<h4>
							Creado el 
						</h4>
						<label>
							02/03/2017
						</label>
					</div>	
					<div class="col-md-3">
						<h4>
							Inicia el 
						</h4>
						<label>
							02/03/2017
						</label>
					</div>
					<div class="col-md-3">
						<h4>
							Finaliza el 
						</h4>
						<label>
							02/03/2017
						</label>
					</div>
				</div>
				<div class = "row">
					<div class="col-md-3 col-md-offset-9">
						<a href="#" class="btn btn-primary mb20"><i class="fa fa-pencil"></i>Modificar</a>
					</div>	
				</div>
			</div>
		</div>
		<hr>
		
		<div class = "row">
			<div class="col-md-3">
				<div class="thumb">
					<a class="hover-img" href="#">
						<img src="img/400x300.png" alt="Image Alternative text" title="the journey home" />
					</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class = "row">
					<label>
						Para quienes buscan no solo un lugar paradisiacoaco en su proximo viaje, 
						sino tambien un destino rico en historia y cultura, el archipielago de Cuba es la mejor opcion. 
						Haz como gran cantidad de turistas en todo el mundo que eligen este pais del caribe.
					</label>
				</div>
				<br><br>
				<div class = "row">
					<div class="col-md-3">
						<h4>
							Creado el 
						</h4>
						<label>
							02/03/2017
						</label>
					</div>	
					<div class="col-md-3">
						<h4>
							Inicia el 
						</h4>
						<label>
							02/03/2017
						</label>
					</div>
					<div class="col-md-3">
						<h4>
							Finaliza el 
						</h4>
						<label>
							02/03/2017
						</label>
					</div>
				</div>
				<div class = "row">
					<div class="col-md-3 col-md-offset-9">
						<a href="#" class="btn btn-primary mb20"><i class="fa fa-pencil"></i>Modificar</a>
					</div>	
				</div>
			</div>
		</div>
		<hr>
	</div>
	
	
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/slimmenu.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/bootstrap-timepicker.js"></script>
	<script src="js/nicescroll.js"></script>
	<script src="js/dropit.js"></script>
	<script src="js/ionrangeslider.js"></script>
	<script src="js/icheck.js"></script>
	<script src="js/fotorama.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="js/typeahead.js"></script>
	<script src="js/card-payment.js"></script>
	<script src="js/magnific.js"></script>
	<script src="js/owl-carousel.js"></script>
	<script src="js/fitvids.js"></script>
	<script src="js/tweet.js"></script>
	<script src="js/countdown.js"></script>
	<script src="js/gridrotator.js"></script>
	<script src="js/custom.js"></script>
</body>