<!DOCTYPE HTML>
<html>

<head>
    <title>TEC-Airlines Ingreso/Registro</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <!-- <meta name="keywords" content="asd" /> -->
    <meta name="description" content="TEC-Airlines">
    <meta name="author" content="Surströmming">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="fb/main.js"></script>

	<!--Script que carga datos de otros html  -->
	<script type="text/javascript">
		$(function (){
			$(".header").load("header.html");
			$(".footer").load("footer.html");
			});
	</script>

</head>

<body>
	
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1297974300301703',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
    
    <div class="header">
    
    </div>
    
    <div class="global-wrap">
        <div class="container">
            <h1 class="page-title">TEC-Airlines Ingreso/Registro</h1>
        </div>

        <div class="gap"></div>


        <div class="container">
            <div class="row" data-gutter="60">
                <div class="col-md-4">
                    <h3>Bienvenido a <br> TEC-Airlines</h3>
                    <p>Nuestra aerolínea busca ser la número uno para los estudiantes que 
                    buscan una opción para viajar al extranjero.
                    Si eres estudiante puedes registrarte y disfrutar de todos los beneficios.</p>
                </div>
                               
                <div class="col-md-4">
                    <h3>Login</h3>
                    <form>

                    <form>
						<div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
						   <label>Correo eléctronico</label>
						      <input class="form-control" placeholder="ejemplo usuario@tec-airlines.com" type="email" />
                        </div>
                       <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                             <label>Contraseña</label>                             
                                <input class="form-control" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" 
                                name="pwd1" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
									if(this.checkValidity()) form.pwd2.pattern = this.value" placeholder="mi clave secreta" 
                                title="La contraseña no cumple con los requisitos mínimos"/>
                        </div>
                         <input class="btn btn-primary" type="submit" value="Ingresar" />
			<label> <br> </label>   
                         <input type=image src="https://eventos.hot-ticket.net/images/facebook-login-button.png" id="login" width="280" height="55">
                    </form>						
                </div>
                <div class="col-md-4">
                    <h3>¿Eres nuevo?</h3>
                    <form>
                        <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                             <label>Nombre Completo</label>
                              <input class="form-control" placeholder="ejemplo Juan Pérez" type="text" />
                        </div>
                        
                        <div class="form-group form-group-icon-left"><i class="fa fa-envelope input-icon input-icon-show"></i>
                           <label>Correo electrónico</label>
                            <input class="form-control" placeholder="ejemplo usuario@tec-airlines.com" type="email" />
                        </div>
                        <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                            <label>Contraseña</label>
                            <input class="form-control" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" 
                                name="pwd1" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
									if(this.checkValidity()) form.pwd2.pattern = this.value" placeholder="La clave secreta de Juan" 
                                title="La contraseña no cumple con los requisitos mínimos"/>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Registrarse en TEC-Airlines" />
                    </form>
                </div>
            </div>
        </div>



        <div class="gap"></div>
        
		<div class="footer">
		
		</div>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/slimmenu.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/nicescroll.js"></script>
        <script src="js/dropit.js"></script>
        <script src="js/ionrangeslider.js"></script>
        <script src="js/icheck.js"></script>
        <script src="js/fotorama.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="js/typeahead.js"></script>
        <script src="js/card-payment.js"></script>
        <script src="js/magnific.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/tweet.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/gridrotator.js"></script>
        <script src="js/custom.js"></script>
    </div>
</body>

</html>


