<!DOCTYPE HTML>
<html>

<head>
    <title>Traveler - Flights</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>

<body>

    <div class="global-wrap">
        <div class="container">
			<h3 class="booking-title">Resultados de busqueda de vuelos</h3>
            <div class="row">
                <div class="col-md-3">
                    <aside class="booking-filters text-white">
                        <h3>Ordenar</h3>
                        <ul class="list booking-filters-list">
                            <li>
                                <h5 class="booking-filters-title">Precio</h5>
                                <div class="radio">
                                <label>
                                    <input class="i-radio" type="radio" name="ratioOption" />De mayor a menor</label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input class="i-radio" type="radio" name="ratioOption" />De menor a mayor</label>
                            </div>
                            </li>
                            <li>
                                <h5 class="booking-filters-title">Hora</h5>
                                <div class="radio">
									<label>
										<input class="i-radio" type="radio" name="ratioOption" />De la mas cercana a la mas lejana</label>
								</div>
                            </li>
                            <li>
                                <h5 class="booking-filters-title">Aerolinea</h5>
                                <div class="radio">
									<label>
										<input class="i-radio" type="radio" name="ratioOption" />Alfabetico</label>
								</div>
                            </li>
						</ul>
                    </aside>
                </div>
                <div class="col-md-9">
                    <ul class="booking-list">
						<li>
                            <div class="booking-item-container">
                                <div class="booking-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="booking-item-airline-logo">
                                                <img src="img/KLM.jpg" alt="Image Alternative text" title="Image Title" />
                                                <p>KLM Airline</p>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="booking-item-flight-details">
                                                <div class="booking-item-departure"><i class="fa fa-plane"></i>
                                                    <h5>10:25 PM</h5>
                                                    <p class="booking-item-date">Sun, Mar 22</p>
                                                    <p class="booking-item-destination">San Jose, Costa Rica</p>
                                                </div>
                                                <div class="booking-item-arrival"><i class="fa fa-plane fa-flip-vertical"></i>
                                                    <h5>12:25 PM</h5>
                                                    <p class="booking-item-date">Sat, Mar 23</p>
                                                    <p class="booking-item-destination">Amsterdam, Holanda</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h5>22h 50m</h5>
                                        </div>
                                        <div class="col-md-3"><span class="booking-item-price">$298</span><span>/persona</span>
                                            <p class="booking-item-flight-class">Clase: Economica</p><a class="btn btn-primary" href="#">Reservar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking-item-details">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p>Detalles</p>
                                            <h5 class="list-title">Aeropuerto en Costa Rica:</h5>
                                            <ul class="list">
                                                <li>Juan Santa Maria</li>
                                            </ul>
                                            <h5>Aeropuerto en Holanda</h5>
                                            <ul class="list">
                                                <li>Schiphol</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
						
						<li>
                            <div class="booking-item-container">
                                <div class="booking-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="booking-item-airline-logo">
                                                <img src="img/Copa.jpg" alt="Image Alternative text" title="Image Title" />
                                                <p>Copa Airline</p>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="booking-item-flight-details">
                                                <div class="booking-item-departure"><i class="fa fa-plane"></i>
                                                    <h5>10:25 PM</h5>
                                                    <p class="booking-item-date">Sun, Mar 22</p>
                                                    <p class="booking-item-destination">San Jose, Costa Rica</p>
                                                </div>
                                                <div class="booking-item-arrival"><i class="fa fa-plane fa-flip-vertical"></i>
                                                    <h5>12:25 PM</h5>
                                                    <p class="booking-item-date">Sat, Mar 23</p>
                                                    <p class="booking-item-destination">Atlanta, U.S.A</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h5>12h 50m</h5>
                                        </div>
                                        <div class="col-md-3"><span class="booking-item-price">$500</span><span>/persona</span>
                                            <p class="booking-item-flight-class">Clase: Economica</p><a class="btn btn-primary" href="#">Reservar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking-item-details">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p>Detalles</p>
                                            <h5 class="list-title">Aeropuerto en Costa Rica:</h5>
                                            <ul class="list">
                                                <li>Juan Santa Maria</li>
                                            </ul>
                                            <h5>Aeropuerto en Atlanta</h5>
                                            <ul class="list">
                                                <li>Hartsfield-Jackson</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
						
						<li>
                            <div class="booking-item-container">
                                <div class="booking-item">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="booking-item-airline-logo">
                                                <img src="img/Iberia.jpg" alt="Image Alternative text" title="Image Title" />
                                                <p>Iberia</p>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="booking-item-flight-details">
                                                <div class="booking-item-departure"><i class="fa fa-plane"></i>
                                                    <h5>10:25 PM</h5>
                                                    <p class="booking-item-date">Sun, Mar 22</p>
                                                    <p class="booking-item-destination">San Jose, Costa Rica</p>
                                                </div>
                                                <div class="booking-item-arrival"><i class="fa fa-plane fa-flip-vertical"></i>
                                                    <h5>12:25 PM</h5>
                                                    <p class="booking-item-date">Sat, Mar 23</p>
                                                    <p class="booking-item-destination">Madrid, España</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h5>15h 30m</h5>
                                        </div>
                                        <div class="col-md-3"><span class="booking-item-price">$479</span><span>/persona</span>
                                            <p class="booking-item-flight-class">Clase: Economica</p><a class="btn btn-primary" href="#">Reservar</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="booking-item-details">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p>Detalles</p>
                                            <h5 class="list-title">Aeropuerto en Costa Rica:</h5>
                                            <ul class="list">
                                                <li>Juan Santa Maria</li>
                                            </ul>
                                            <h5>Aeropuerto en España</h5>
                                            <ul class="list">
                                                <li>Madrid-Barajas</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
					</ul>
                </div>
            </div>
            <div class="gap"></div>
        </div>


        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/slimmenu.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/nicescroll.js"></script>
        <script src="js/dropit.js"></script>
        <script src="js/ionrangeslider.js"></script>
        <script src="js/icheck.js"></script>
        <script src="js/fotorama.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="js/typeahead.js"></script>
        <script src="js/card-payment.js"></script>
        <script src="js/magnific.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/tweet.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/gridrotator.js"></script>
        <script src="js/custom.js"></script>
    </div>
</body>

</html>


